{% extends '@layouts/base.html.twig' %}
{% block conteudo %}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <form class="form-horizontal" action="http://{{ APP_HOST }}/vaga/excluir" method="post">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Excluir vaga
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <section class="panel">
                                    <div class="alert alert-info">
                                        <p>Tem certeza que deseja excluir a vaga selecionanda?</p>
                                        <p>({{ vaga.titulo }})</p>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-6">
                                <section class="panel">
                                    <div class="alert alert-success" role="alert">
                                        <p><b>Tecnologias vinculadas:</b></p>
                                        <br>
                                        {% for tecnologia in tecnologias %}
                                            <p>{{ tecnologia.tecnologia }}</p>
                                        {% endfor %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-12">
                    <input type="hidden" name="idvaga" value="{{ vaga.idvaga }}">
                    <button class="btn btn-danger" type="submit">Confirmar exclusão</button>
                    <a href="http://{{ APP_HOST }}/vaga/listar" class="btn btn-success">Voltar</a>
                </div>    
            </form>
        </div>
    </section>
</section>
{% endblock %}